.requiredField{
    color: red;
}

.viewPatientIdentifierSourcesInput{
    width: 350px;
    border: 1px solid #dcdcdc;
}

.viewPatientIdentifierSourcesTitle{
    font-weight: bold;
}

.viewPatientIdentifierSourcesUpload{
    text-align: center; 
    height: 60px; 
    width: 95%; 
    padding: 5px; 
    margin: 5px; 
    border: 2px dashed #000;
}
